ol, ul {
	list-style: none;
	padding 0;
}

main
	padding-left 20px
	padding-right 20px

a
	cursor pointer

/* bootstrap: .btn.btn-default */
button 
	-moz-user-select none
	border 1px solid transparent
	border-radius 4px
	cursor pointer
	display inline-block
	font-size 14px
	font-weight 400
	line-height 1.42857
	margin-bottom 0
	padding 6px 12px
	text-align center
	vertical-align middle
	white-space nowrap

	color #333
	background-color #fff
	border-color #ccc

	&[disabled]
		cursor default
		background-color #ddd
		color #888
	&:active
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
	&:hover
		color: #333;
		background-color: #e6e6e6;
		border-color: #adadad;
	&:active:hover
		color: #333;
		background-color: #d4d4d4;
		border-color: #8c8c8c;

reset-button()
	padding 0
	border none


.login-dropdown-list-item div.login-sub-component
	padding 10px
	& > input
		padding 0 10px 0 10px
		margin-bottom 10px

.hire-login
	& > .login-status
		display none

.edit-form,
.entity-list
	.panel-heading 
		& > h3
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
			line-height normal
			width calc(100% - 210px)
			padding-top 8px
	.list-group
		height 560px
		overflow-y auto

.entity-list
	.panel-body
		height 60px
	.list-group
		height 500px



.hire-multi-form
	& > .form-list
		& > .form
			margin-top 20px
			border 1px solid #f0f0f0
			border-radius 4px
			padding 12px
			& > .hire-forms-form
				width calc(100% - 60px)
				display inline-block
			& > button.hire-remove-form
				float right
				&:hover
					background-color #f2dede
					border-color #ebccd1
					color #a94442

.names-form
	& > ul > li
		display inline-block
		width 230px
		border-radius 4px
		margin-right 12px
		border 1px solid #ccc
		margin-bottom 12px
		padding 10px
		float left
		height 70px
		& > div:nth-of-type(1)
			height 20px

	button.hire-remove-form
		reset-button()
		width 24px
		border-radius 2px
		border 1px solid #ccc
		margin-right 8px
		position relative
		top -4px

		&:hover
			background-color #f2dede
			border-color #ebccd1
			color #a94442


.hire-select
	& > .input-container
		width 200px
		height 26px
		line-height 26px
		background-color #fff
		border 1px solid #aaa

		border-radius 3px 3px 0 0 
		padding-left 6px

		& > button
			reset-button()
			height 100%
			width 25px
			float right

		& > .input
			display inline-block
			height 100%
			width calc(100% - 25px)

	& > .hire-options
		position absolute
		background-color white
		width 200px
		max-height 150px
		overflow-y auto
		margin-top -1px
		border-left 1px solid #aaa
		border-right 1px solid #aaa
		border-bottom 1px solid #aaa
		& > li
			line-height 1.2em
			padding-left 6px
			display block
			&:hover
				cursor pointer
				background-color #f5f5f5

list-item()
	border 1px solid #ddd
	background-color #fcfcfc
	border-radius 4px
	margin-bottom 4px
	padding 6px
	color #666
	cursor pointer

	&:hover
		color #333
		border-color #ccc

	button
		reset-button()
		border 1px solid #ccc
		&:hover
			background-color #f2dede
			border-color #ebccd1
			color #a94442

.hire-list
	.hire-list-item
		list-item()


.hire-forms-autocomplete
	.hire-options
		max-height 200px
		overflow-y auto
		border 1px solid #ccc
		li
			list-item()

.hire-input > input
	width 200px

.entity-list
	input
		width calc(100% - 300px)
		margin-left 10px
		margin-right 10px

.navbar-default .navbar-collapse, .navbar-default .navbar-form
	border none